body{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
    color: #6c7279; 
}

header{
  position: fixed;
  width: 100%;

}

header .nav {
  justify-content: flex-end;
  border-bottom: 0px;
  top: 0px;
  padding: 40px 0;
  width: 100%;
}

header .nav-link {
  font-size: 13px;
  color: #fff;
  padding-top: 20px;
}

header .nav-link:hover{
  background: #fff;
  color: #31344e;
}

header .row{
  border-bottom: 1px solid #51546a;
  max-width: 1500px;
  margin: 0px auto;
  padding: 0px 0;
  width: 100%;
}

header .col-lg-3{
  border-bottom: 0px;
    padding: 50px 0;
    width: 100%;
}

  .top {
  background: url('../img/Rectangle.png') no-repeat;  
  background-position: center;
  background-size: cover;
  height: 750px;
}

  .top-text {
  padding-top: 250px;
  font-weight: 1000;

}
  .top-text h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 50px; 


}
  .top-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; 
}

  .btn {
   background-color: #e84545;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
     padding: 15px 40px;
}

footer {
  text-align: center; 
}
  .footer-top {
    background-color: #3a3e64;
    padding-top: 40px; 
}
  .footer-bottom {
    background-color: #313454;
    padding: 20px 0; 
}
  .footer .footer-col {
    margin-bottom: 80px; 
}
  .footer h5 {
    color: #fff; 
    margin-bottom: 20px;
}
  .footer-top p {
    color: #9d9fb2;
}
  .footer-bottom p {
    color: #808080;
}
  .footer a {
    color: #fff; 
}
  .footer .share {
    margin-top: 0; 
    width: 100%;
}
    .footer .share li {
      display: inline-block;
      float: none; 
}
